*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .page-wrapper{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 100vh;
}
.header-wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.social-media-corner-wrapper{
    width: 30%;
    height: 350px;
    background-color: #2b2b2b;
    padding: 1px;
}
.social-media-corner-wrapper div:first-child{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.social-media-corner-wrapper div:nth-child(2){
    border-left: 1px solid #fff;
    height: 40px;
    margin: 30px 0 0 40px;
}

.social-media-corner-wrapper i{
    font-size: 40px;
    margin: 30px 0 0 30px;
    display: block;
    color: #fff;
}
.navigation-desktop{
    /* border: 2px solid white; */
    width: 70%;
    height: 100px;
    line-height: 100px;
    flex-grow: 1;
}
.navigation-mobile{
    height: 100px;
    display: none;
    flex-grow: 1;
    text-align: right;
    padding: 20px;
   
}
.navigation-mobile a{  
    font-size: 50px;
    color:#fff;
}
.navigation-list{
    list-style: none;
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
}
.navigation-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
}
h1{
    /* border: 2px solid white; */
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 100;
    letter-spacing: 15px;
    color: #fff;
    text-transform: uppercase;
    line-height: 100px;
    position: absolute;
    top: 350px;
    right: 70px;
}
main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-container-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.projects-wrapper{
    width: 100%;
    flex-grow: 1;
    display: flex;
}
.projects-wrapper div{
    /* border: 2px solid green; */
    flex-grow: 1;   
}
.first-row>div:first-child{
    background-image: url(../assets/concert-hall.jpg);
}
.first-row>div:nth-child(2){
    background-image: url(../assets/bedroom-2.jpg);
}
.first-row>div:last-child{
    background-image: url(../assets/hotel.jpg);
}

.second-row>div:first-child{
    background-image: url(../assets/bedroom-1.jpg);

}
.second-row>div:nth-child(2){
    background-image: url(../assets/library.jpg);
}
.second-row>div:last-child{
    background-image: url(../assets/kitchen.jpg);
}
.image-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
  } 

.image-wrapper:after {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
.description {
    padding: 10px;
    position: relative;
    height: 100%;
    z-index: 1;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
  }
.text-description {
    width: 250px;
    margin: 10px 0px;
  }
.text-description span{
    display: block;
} 
.text-category{
    width: 100px;
    position: absolute;
    bottom: 50px;
    left:-20px;
    transform: rotate(-90deg); 
}
.bottom-wrapper{
    padding: 1px;
    width: 100%;
    height: 100vh;
    background-color: #2b2b2b;
}
.btn{
    height: 60px;
    width: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    border: none;   
}
.btn.more-projects{
    background-color: #3b3b3b;
    margin: 70px auto;
}
.btn a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.bottom-wrapper h2{
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    letter-spacing: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #fff;
}
.bottom-wrapper span{
    color: #c09c78;
}
form{
    width: 100%;
    height: 50vh;
}
.form-wrapper{
    height: 100%;
    margin: 0 100px;
}
.form-content{
    /* border: 2px solid white; */
    height: 80%;
    position: relative;
}

.inputs-wrapper{
    /* border: 2px solid green; */
    display: flex;
}
.column{
    /* border: 2px solid #fff; */
    width: 80%; 
}
.form-content input{  
    width: 89%;
    height: 50px;
    margin: 20px;
    padding-left: 20px;
    background-color: #3b3b3b;
    border: none; 
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
input::-moz-placeholder { /* Firefox 18- */
 color: #fff;
}
input::-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}

/* aici iti recomand sa te folosesti de div-uri ca sa grupezi ceea ce ai nevoie sa grupezi ca sa respecti layout-ul. Exista multe solutii inainte sa recurgem la pozitionare, cel putin in acest caz. */
.form-content textarea{
    width: 89%;
    height: 140px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    background-color: #3b3b3b;
    border: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;  
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
input::-moz-placeholder { /* Firefox 18- */
 color: #fff;
}
input::-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.btn.send{
    background-color: #c09c78;
    margin: 20px auto;
}
.btn.send i{
    padding-left: 10px;
    color: #fff;
    font-size: 15px;
}


@media(max-width: 599px){
    .social-media-corner-wrapper{
        width: 50%;
    }
    .navigation-desktop{
        display: none;
    }
    .navigation-mobile{
        display: block;
    }
    h1{
        width: 100%;
        text-align: center;
        line-height: 250px;
        font-size: 50px;
        right: 0;
        font-weight: 400;
    }
    main{
        height: 200vh;
    }
    .projects-wrapper{
        flex-direction: column;
        height: 100vh;
    }
    .description{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 150px;
        font-size: 30px;
    }
    .text-description{
        width: auto;      
    }
    .text-description span{
        display: inline-block;
        color: #c09c78;
    } 
    .text-category{
        position: relative;
        width: auto;
        transform: none;
        line-height: 50px;
    }
    .btn.more-projects{
        display: none;
    }
    .bottom-wrapper h2{
        font-size: 30px;
        margin: 40px 0;
    }
    form{
        height: 65vh;
    }
    .form-wrapper{
        margin: 0;
    }
    .form-content{
        height: 100%;;
    }
    .inputs-wrapper{
        width: 100%;
        height: 86%;
        flex-direction: column;
        align-items: center;
    }
    .column{
        border: 2px solid #fff;
        width: 80%;
        
    }
    .form-content input{
        width: 90%;
        height: 45px;
        margin: 10px;
    }
    .form-content textarea{
        width: 90%;
        margin: 10px;
    
    }
    .btn-wrapper{
        width: 80%;
        height: 100px;
        position: relative;
        margin: 0 auto;
    }
    .btn.send{
        position: absolute;
        right: 0px;
        width: 150px;
        height: 50px;

    }
}